.about_text{
 font-size: 18px;
 font-weight: 400;
 color: black;
 line-height: 23px;
 text-align: justify;
}
.editable{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
 }
 textarea:hover, 
 textarea:active, 
 textarea:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}